:root {

    --color-primary: #516CF7;
    --color-text-dark: #2E2E48;
    --color-text-light: #47516B;
    --color-bg-light: #F7F9FC;
    --color-bg-white: #FFF;
    --color-border: #E2E6EE;
    

    --font-heading: 'Outfit', sans-serif;
    --font-body: 'DM Sans', sans-serif;
    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-md: 16px;
    --font-size-lg: 20px;
    --font-size-xl: 23px;
    --font-size-xxl: 28px;
    

    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    

    --breakpoint-sm: 767px;
    --breakpoint-md: 870px;
    --breakpoint-lg: 993px;
    --breakpoint-xl: 1025px;
    

    --transition-fast: all 0.2s ease;
    --transition-normal: all 0.3s ease;
    --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 20px;
  }